@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/** Reset  */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/** Main Styling */

html,body{
    font-family: 'EB Garamond', serif;
    line-height: 1.7em;
}

a{
    color: #bf2227;
    text-decoration: none;
}

h1, h2, h3{
padding-bottom: 20px;

}

p{
    margin: 10px 0;
}

/** Utility Classes  */

.container{
margin: auto;
max-width: 1100px;
overflow: auto;
padding: 0 20px;
}

.text-primary{
    color: #bf2227;
    padding: 5px;
}

.bg-primary{
    background-color: #f5f700;
}

.lead{
    font-size: 20px;
}

.btn{
    display: inline-block;
    font-size: 18px;
    color: #bf2227;
    background: #f5f700;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background-color: #c4c500;
}

.bg-blue{
    background: #0381CF;
    color: white;
}

.clr{
    clear:both;
}

.l-heading{
    font-size: 40px;
    line-height: 1.2;
}

#submit-btn{
    margin: auto;
    display: flex;
}


/** Padding  */
.py-1{padding: 10px 0;}
.py-2{padding: 20px 0;}
.py-3{padding: 30px 0;}


/** Navbar */

#navbar{
    background: #f5f700;
    color: #bf2227;
    overflow: auto;
    border: #bf2227 1px solid;
}

#navbar a{
    color: #bf2227;

}

#navbar h1{
    float: left;
    padding-top: 20px;
    font-size: 2em;
}

#navbar ul{
    list-style: none;
    float: right;
}

#navbar ul li{
    float: left;
}

#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
}

#navbar ul li a:hover{
    background-color: #c4c500;
}

/** Showcase  */

#showcase{

    background: url(/images/restaurant.png) no-repeat center center/cover;
    height: 700px;
}

#showcase .showcase-content{
    color: #c4c500;
    padding-top: 100px;
    text-align: center;

}

#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p{
    padding-bottom: 20px;
    line-height: 1.7em;
}

/** Home info */

#home-info{
    height: 450px;
}

#home-info .info-img{
    float: left;
    width: 50%;
    background: url(/images/hamburgers.jpg) no-repeat;
    min-height: 100%;
}

#home-info .info-content{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}

#home-info .info-content h2{
    color: #f5f700;
}

#home-info .info-content p{
    padding-bottom: 30px;
}

/** Features */

.box{
    float:left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

.box i{
    margin-bottom: 10px;
}

/** About Info */
#about-info .info-right{
float: right;
width: 50%;
min-height: 100%;
}

#about-info .info-right img{
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 40%;
}

#about-info .info-left{
    float: left;
    width: 50%;
    min-height: 100%;
}

/** Testimonials  */

#testimonials {
    height: 100%;
    background: url(/images/testimonialsbg.jpg) no-repeat center center/cover;
    padding-top: 100px;
  }
  
  #testimonials h2 {
    color: #bf2227;
    text-align: center;
    padding-bottom: 40px;
  }
  
  #testimonials .testimonial {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.9;
  }
  
  #testimonials .testimonial img {
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }

  /** Contact Form */

  #contact-form{
    background: url(/images/Abqdowntown.jpg) no-repeat center center/cover;
  }


  #contact-form .form-group{

    margin-bottom: 20px;
}

#contact-form label{
    display: block;
    margin-bottom: 5px;
}

#contact-form input, #contact-form textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #bf2227;
}

#contact-form textarea{
    height: 200px;
}

#contact-form input:focus, #contact-form textarea:focus{

    outline: none;
    border-color: #0381CF


}

/** Footer */
#main-footer{
    text-align: center;
    background: #f5f700;
    color: #bf2227;
    padding: 10px;
}




